*{
 padding:0;
 margin: 0;
}
.banner{
    width: 130%;
}
body{
    background: linear-gradient(180deg, rgb(145, 3, 138) 10%, rgb(8, 120, 146) 91%);
    color:rgb(0, 255, 251);
    width: 90%;
    font-family: 'Poppins', sans-serif;
}
.container {
    display: grid; 
    grid-template-columns: 0.5fr 2fr; 
    grid-template-rows: 0.5fr 2fr 0.5fr;         
    gap: 10px 10px; 
    padding: 10px;       
    width: 100%;
    margin: 0 auto;
      }  

      img.uclpic{
        width: 100px;
      }
      img.uconlpic{
        width: 65px;
      }
      img.ueuclpic{
        width: 100px;
      }
      img.premier-league{
        width: 70px;
      }
      img.serie-A{
        width: 95px;
      }
      img.laliga{
        width: 70px;
        margin-left: 25px;
      }
      img.bundes{
        width: 70px;
        margin-left: 20px;
      }
      img.ligue1{
        width: 60px;
        margin-left: 1px;
      }
      
      .league-pic{
        grid-column: 1/4;
        grid-row: 1/3;
    }    
 
    .navigation{
        grid-column: 1/4;
        grid-row: 3;
    }
    .main-body{
        grid-row: 4;
        grid-column: 1/4;
    }
    ul{
        display: inline-flex;
    }
    li{
        list-style: none;
        margin: 20px;
    }
    .treble{
        width: 100%;
    }
    .league-pic {
        position: relative;
        animation: MyDiv;
        animation-duration: 1.5s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-direction: normal;
      }
      @keyframes MyDiv {
        0%    {right: -400px; top: 0px;}
        50%   {right: 0px;top:0px;}
        75%  {right: -50px; top: 0px;}
        100%   {right:  0px;top:0px;}
      }
    
@media only screen and (min-width:768px){
    body{
        background: linear-gradient(360deg, rgb(0, 0, 0) 10%, rgb(2, 118, 138) 91%);
        width: 100%;
    }
    ul{
        display:block;
    }
    .navigation{
        margin-top: 20px;
        grid-row: 2;
        grid-column: 1/2;
    }
    .league-pic{
        grid-column: 1/3;
        margin-left: -10px;
    }
    img.laliga{
        margin-left: 20px;
    }
    nav{
        float:left;
    }
    .main-body{
        grid-column: 2/4;
        grid-row: 2;
    }
    .container{
        grid-template-columns: 0.2fr 2fr;
        width: 95%;
    }
    .side-advt{
        display: none;
    }
    .foot{
        display:none;
    }
    .banner{
        width: 100%;
    }
    img.ligue1{
        width: 90px;
    }
}
    
@media only screen and (min-width:1000px){
.league-pic{
    margin-right: 50px;
}
.banner{
    width: 100%;
}
body{
    width: 100%;
}
}







